@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

input{
    font-size: 12px;
    color: #000;
}

input::placeholder{
    color: #000;
    font-size: 12px;
}

.ripple {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 10%, transparent 10.01%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.7s ease, opacity 1s ease;
}

 .group:hover .ripple {
    transform: scale(6);
    opacity: 1;
    transition: 0s;
  }

  /* Optional: reset ripple after animation */
  .group:hover .ripple {
    animation: ripple-fade 0.6s forwards;
  }

  @keyframes ripple-fade {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }